body,html{
	width: 100%;
	height: 100%;
}
*{
	margin:0 ;
	padding:0;
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.container{
	width: 100%;
	height: 100%;
}
#videobg {
  width: 100%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -100;
}
.banner-source{
	width: 100%;
  height: 100%;
}
.banner-img  {
	max-width: 100%;
}
.fullscreen-bg__video{
	object-fit:cover;
}
.content{
	touch-action: none;
  transform: translate3d(0px, 0px, 0px);
  transition: all 700ms ease 0s; 
}
.head-section{
	min-height: 100px;
	position: relative;	
}
.head-logo{
	position: absolute;
	top: 50%;
	left: 3%;
	transform: translateY(-50%);
	width: 270px;
	height: 22px;
}
.nav-list{
	position: absolute;
	left: 50%;
	top:65%;
	transform: translateY(-65%);

}
.nav-item{
	position: relative;
	display: inline-block;
	padding-right: 40px;
}
.nav-item:hover{
	border-top:2px solid #fff;
}
.nav-item-link{
	font-size: 14px;
	line-height: 70px;
	color: #fff;
}
.head-right{
	position: absolute;
	right: 80px;
	top: 65%;
	transform: translateY(-65%);
}
.right-link{
	font-size: 14px;
	color: #fff;
}
.right-link-section{
	display: inline-block;
	margin-right: 20px;
}
.right-tab{
	display: inline-block;
	width: 25px;
	height: 17px;
	vertical-align: top;
	margin-top: 6px;
}
.banner-section{
	position: relative;
	/*display: flex;*/
	/*flex-grow:;*/
	width: 100%;
	height: 836px;
}
.banner-text-section{
	display: inline-block;
	position: absolute;
	top: 30%;
	right: 25%;
	transform: translate(-30%, -25%);
	
	text-align: left;
}
.banner-title{
	font-size: 51px;
	color: #fff;
	font-family: "DIN-Regular";
  letter-spacing: 8px;
  
  font-weight: 200;
}
.banner-sub{
	font-size: 35px;
	color: #fff;
	font-family: "NotoSansCJKsc-Thin";
  font-size: 35px;
  opacity: 1;
  font-weight: 200;
}

.banner-roll{
	position: absolute;
	bottom: 16%;
	left: 50%;
	transform: translateX( -50%);
	color: #fff;
}
.bananer-rool-title{
	font-family: "NotoSansCJKsc-Regular";
  font-size: 20px;
  opacity: 0.8;
  margin-bottom: 7px;
}
.banner-roll-text{
	font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 14px;
  display: inline-block;
  border-bottom: 2px dashed #fff;
}



.brief-section{
	width: 100%;
	height: 936px;
	background-color: rgba(0,0,0,.5);
  position: relative;
}
.brief-option{
	position: absolute;
	top:  66px;
	right: 74px;
}
.brief-swiper-list{
	width: 100%;
	height: 100%;
}
.brief-swiper-item{
	position: relative;
	width: 100%;
	height: 100%;
}
.brief-list{
	position: absolute;
	top: 220px;
	left: 70px;
	list-style: none;
}
.brief-item{
	width: 2px;
	height: 35px;
	background-color: rgba(255,255,255,.5);
	margin-bottom: 5px;
	cursor: pointer;
}
.brief-item.active{
	background-color: #fafafa;
	width: 3px;
}
.swiper-yema{
	position: absolute;
	left: 77px;
	bottom: 55px;
}
.swiper-yema p{
	font-size: 40px;
	color: #fff;
}
.swiper-index{
	font-size: 100px;
	
}
.brief-next{
	position: absolute;
	bottom: 60px;
	right: 65px;
	width: 318px;
	height: 67px;
	border:1px solid #fafafa;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
	z-index: 10;
}
.brief-next:hover{
	background-color: rgb(82, 82, 82);
}
.brief-next-text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 12px;
	display: inline-block;
	font-size: 14px;
	color: #fafafa;
	text-align: left;
}
.brief-next-text .en{
	margin-bottom: 4px;
}
.brief-next-text .cn{
	font-size: 15px;
}
.brief-arrows{
	display: inline-block;
}

.brief-arrows{
	position: absolute;
	bottom: 30px;
	right: 25px;
	
}
.brief-arrows-hen{
	width: 70px;
	height: 2px;
	background-color: #fafafa;
}
.brief-arrows-xie{
	
  position: absolute; 
  right: 0px;
  bottom: 0px;
  border-bottom: 2px solid #fafafa;
  width: 12px;
  transform: rotate(32deg);
  transform-origin: bottom right;

}
.brief-pierce-list{
	list-style: none;
}
.brief-pierce-item{
	position: absolute;
	color: #fafafa;

}
.brief-pierce-item.step1{
	top: -12px;
	left: -6px;
}
.brief-pierce-item.step2{
	bottom: -10px;
	left: -6px;
}
.brief-pierce-item.step3{
	top: -12px;
  right: -7px;
}
.brief-pierce-item.step4{
	right: -7px;
  bottom: -10px;
}
.breifitem-left{
	position: absolute;
	top: 42px;
	left: 70px;
	display: inline-block;
	color: #fff;
	opacity: .8;
}
.breifitem-en{
	font-size: 18px;
  letter-spacing: 3px;
  margin-bottom: 10px;
}
.breifitem-cn{
	font-size: 18px;
	text-align: left;
}
.breifitem-text{
	position: absolute;
	top: 148px;
	left: 230px;
	color: #fff;
	
	font-family: "NotoSansCJKsc-Light", sans-serif;
}
.breifitem-title{
	font-size: 50px;
  white-space: nowrap;
}
.breifitem-sub{
	font-size: 50px;
  text-align: left;
  margin-left: 150px;
  opacity: .8;
}
.breifitem-content{
	position: absolute;
	top: 330px;
	left: 530px;
	/*width: 530px;
	height: 375px;*/
	margin-top: 30px;
	z-index: 10;
}
.text-descript{
	font-size: 18px;
	color: #fff;
	text-align: left;
}
.text-desc{
	font-size: 18px;
	color: #fff;
	margin-bottom: 10px;
	line-height: 30px;
	text-align: left;
}
.houses-section{
	width: 100%;
	font-size: 0;

}
.houses-list{
	display: flex;
	width: 3840px;
	height: 100vh;
	flex-wrap: wrap;
}
.houses-item{
	flex:none;
	position: relative;
	/*display: inline-block;*/
	width: 480px;
	height: 468px;
	/*background-image: url(./../img/昆明花鹤翎.jpg);*/
	background-size: 100% 100%;
	cursor: pointer;
	
}
.houses-content{
	width: 100%;
	height: 100%;
	transition: all 0.3s;
  background-color: rgba(0,0,0,0.7) !important;

}
.houses-content:hover{
	background: rgba(0,0,0,0.35) !important;
}
.houses-item-title{
	position: absolute;
	top: 25px;
	left: 20px;
	color: #fff;
	text-align: left;
}
.houses-cn{
  font-size: 15px;
 margin-bottom: 4px;
}
.house-en{
	font-size: 14px;
}


.houses-item:hover .deta-adorn.left{
	color: red;
	left: -5px;
  top: 15px;
  transform: rotate(260deg);
  transition:transform .5s ease-in-out;
}
.houses-item:hover .deta-adorn.right{
	color: red;
	top: 15px;
  right: -5px;
  transform: rotate(260deg);
  transition:transform .5s ease-in-out;
}

.simple-section{
	position: relative;
	width: 100%;
	height: 936px;
	background-color: rgba(0, 0, 0, 0.24);
}
.simple-option{
	position: absolute;
	top: 70px;
	right: 66px;
	width: 25px;
	height: 17px;

}
.newest-content{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fafafa;
	text-align: left;
}
.newest-title{
	font-size: 44px;
}
.newest-sub{
	font-size: 65px;
}

.simple-content{
	position: absolute;
	top: 50%;
	left: 110px;
	transform: translateY(-50%);
	color: #fafafa;
	text-align: left;
}
.foot-section{
	display: flex;
	position: relative;
	width: 100%;
	height: 936px;
	box-shadow: inset 0 -300px 196px rgba(0, 0, 0, 0.7215686274509804);
}

.footer-option{
	position: absolute;
	top: 70px;
	right: 66px;
	width: 25px;
	height: 17px;
}
.foot-content{
	width: 100%;
	align-self:flex-end;
}
.foot-content-top{
	display: flex;
	position: relative;
	padding-bottom: 40px;
}
.foot-top-left{
	flex: 1;
	text-align: left;
	margin-left: 64px;
}
.foot-select{
	position: relative;
	width: 350px;
}
.foot-select-item{
	
	width: 100%;
	height: 50px;
	display: block;
  max-width: 350px;
  margin: 5px 0px;
  padding: 0px 24px;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  background-color: rgba(255,255,255,0);
  border: 1px solid #cccccc;


  appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
.foot-select:after{
	position: absolute;
	right: 15px;
	top: 12px;
	content: url(./../img/chevron-down-small.png);
	display: inline-block;
	width: 33px;
	height: 33px;
	background-image: ;
  color: #fff;
  padding: 0 0 2px;
  z-index: 999;
}
.foot-option{
	background-color: #333;
}
.foot-site{
	margin-top: 30px;
	color: #fff;
}
.site-hq{
	font-size: 15px;
	line-height: 20px;
  margin-bottom: 20px;
}
.site-hq-sub{
	font-size: 12px;
  line-height: 20px;
}
.site-hq-phone{
	margin-top: 50px;
	font-size: 20px;
}

.foot-top-right{
	flex: 1;
	position: absolute;
	right: 65px;
}
.foot-blogroll-list{
	list-style: none;
}
.foot-blogroll-item{
	text-align: left;
}
.foot-blogroll-item a{
	display: inline-block;
	color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}
.foot-content-bottom{
	width: 100%;
	height: 100px;

}
.foot-bottom-list{
	display: flex;
	list-style: none;
}
.foot-bottom-item{
	flex-grow:1;
}
.foot-bottom-item.step2{
	flex-grow:1;
	text-align: center;
}
.foot-logo{
	width: 270px;
	height: 22px;
	margin-left: -90px;
}
.foot-bottom-item span{
	font-size: 12px;
	color: #fff;
}
.foot-touch{
	position: relative;
	font-size: 25px;
	color: #fff;
	margin-top: 35px;
}
.foot-touch .foot-down{
	position: absolute;
  top: 4px;
  right: 126px;
	transform: rotate(45deg);
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 6px;
  
}
